.rate{
    height: 20px;
    width: 20px;
    transform-origin: center;
    transform: rotate(45deg);
    border: black 1px solid;
    background-color: red;
    margin: 10px;
}

.empty{
    background-color: transparent;
}

.rateContainer{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
